---  
  layout: default  
---  

{% if site.last_edit_timestamp and site.last_edit_time_format and page.last_modified_date %}
  <p class="text-small text-grey-dk-000 mb-0 mr-2">
    Page last modified: <span class="d-inline-block">{{ page.last_modified_date | date: site.last_edit_time_format }}</span>.
  </p>
{% endif %}

{{content}}

<div>
  <script src="https://giscus.app/client.js"
          data-repo="Percelic/percelic.github.io"
          data-repo-id="R_kgDOH_xMOQ"
          data-category="General"
          data-category-id="DIC_kwDOH_xMOc4CRjC0"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</div>